*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 8px;
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

section {
  background-color: black;
  width: 50%;
  min-width: 640px;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  height: 520px;
  background-color: #c06c84;
  padding: 4px;
}

section > header {
  padding: 4px;
  color: #fbfbfb;
  font-weight: 900;
}

section:target {
  background-color: #0881a3;
}

section > main {
  background-color: white;
  color: black;
  flex: 1;
  overflow: auto;
  font-size: 60%;
  position: relative;
}

section > .unscrollable {
  overflow: hidden;
}

section h2 {
  font-size: 1.5em;
}

section h1 {
  font-size: 2em;
}

.button {
  padding: 6px 12px;
  border: 0px solid white;
  border-radius: 4px;
  background-color: #f2f2f2;
  cursor: pointer;
  margin: 4px;
  display: inline-block;
}

.centered {
  display: flex;
  flex-direction: column;
}

.centered > div {
  margin: auto;
  text-align: center;
}

.aered {
  padding: 12px;
}


.compressed h1, .compressed h2 {
  margin: 0;
}

.block {
  margin-bottom: 32px;
}


.hbox, .black-btn {
  background-color: #323232;
  color: #f2f2f2;
}

.hbox {
  padding: 12px;
}

.box-list {
  padding: 0;
  margin: 0;
}

.box-list > li {
  list-style: none;
  margin: 0;
  background-color: #f2f2f2;
  padding: 8px;
  display: flex;
}

.box-list > li > div:first-child {
  flex: 1;
}

.box-list > li:nth-child(even) {
  background-color: #fff;
}

.box-list > li h3 {
  margin: 4px 0;
}

.formlet input[type="text"] {
  padding: 4px;
  border: 1px solid #C1C1C1;
  border-radius: 4px;
}

.formlet .full {
  width: 100%;
}

.account-list,
.formlet ul {
  padding: 0;
}

.account-list li,
.formlet li {
  list-style: none;
  margin: 0;
  background-color: #f2f2f2;
  padding: 8px;
}

.account-list li {
  display: flex;
  justify-content: center;
  font-size: 120%;
}

.account-list > li > div {
  margin: auto;
  flex: 2;
}

.account-list > li > div:nth-child(2) {
  margin: auto;
  flex: 1;
  text-align: center;
}

.account-list > li > div:nth-child(3) {
  text-align: right;
}


.account-list li:nth-child(even),
.formlet li:nth-child(even) {
  background-color: #fff;
}

.formlet .removable + span {
  color: #c2c2c2;
  text-decoration: line-through;
}

.formlet .removable:checked + span {
  color: #000;
  text-decoration: none;
}

.expenses  {
  display: flex;
  width: 100%;
  height: 200px;
  border: 8px solid #f2f2f2;
}

.expenses > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.expenses > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f2f2f2;
  padding: 8px;
}

.expenses > div > div:first-child {
  background-color: white;
  flex: 1;
  padding: 0;
}


.expenses > div > div:first-child > span {
  background-color: black;
  width: 32px;
  align-self: flex-end;
}

.cost-box {
  margin: 12px 0;
  display: flex;
}

.cost-box > div:first-child::before {
  content: "Cost:";
  font-weight: 900;
}

.cost-box > div:first-child {
  flex: 1;
}

.cost-box > div:nth-child(2)::before {
  content: "Paid by:";
  font-weight: 900;
}

.cost-box input {
  width: 64px;
  text-align: left;
}

.cost-box > input:first-child {
  text-align: right;
}

.over-overall,
.overall {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.overall {
  background-color: #000;
  opacity: 0.8;
}

.over-overall {
  display: flex;
}

.over-overall > div {
  margin: auto;
  background-color: #fff;
  padding: 12px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  text-align: center;
  width: 40%;
}

.to-paid {
  display: inline-block;
  margin: 0 8px;
  background-color: #000;
  padding: 4px;
  color: #FFF;
  font-family: monospace;
  border-radius: 4px;
  text-align: center;
}
